<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Model API</title>
        <link rel="icon" type="image/png" href="{{ asset('swagger/img/favicon-32x32.png') }}" sizes="32x32" />
        <link rel="icon" type="image/png" href="{{ asset('swagger/img/favicon-16x16.png') }}" sizes="16x16" />
        <link href="{{ asset('swagger/css/reset.css') }}" media="screen" rel="stylesheet" type="text/css" />
        <link href="{{ asset('swagger/css/typography.css') }}" media="screen" rel="stylesheet" type="text/css" />
        <link href="{{ asset('swagger/css/screen.css') }}" media="screen" rel="stylesheet" type="text/css" />
        <link href="{{ asset('swagger/css/print.css') }}" media="print" rel="stylesheet" type="text/css" />
        <script src="{{ asset('js/jquery-3.2.1.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/handlebars-2.0.0.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/underscore-1.8.3.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/backbone-1.1.2.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/marked.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/json-editor-0.7.28.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/jquery.browser-0.1.0.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/jquery.ba-bbq-1.2.1.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/jquery.slideto.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/jquery.wiggle.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/highlight-9.11.0.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('swagger/js/swagger-oauth.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('swagger/js/swagger-ui.min.js') }}" type="text/javascript"></script>
        <script type="text/javascript">
            $(function () {
                var url = "{{ specFilePath }}";

                // Pre load translate...
                if(window.SwaggerTranslator) {
                    window.SwaggerTranslator.translate();
                }

                window.swaggerUi = new SwaggerUi({
                    url: url,
                    dom_id: "swagger-ui-container",
                    supportedSubmitMethods: ['get', 'post', 'put', 'delete', 'patch'],
                    onComplete: function(swaggerApi, swaggerUi){
                        if(window.SwaggerTranslator) {
                            window.SwaggerTranslator.translate();
                        }

                        $('pre code').each(function(i, e) {
                            hljs.highlightBlock(e)
                        });

                        addAccessTokenAuthorization();
                    },
                    onFailure: function(data) {
                        log("Unable to Load SwaggerUI");
                    },
                    docExpansion: "list",
                    jsonEditor: false,
                    apisSorter: "alpha",
                    defaultModelRendering: 'schema',
                    showRequestHeaders: false,
                    validatorUrl: undefined
                });

                function addAccessTokenAuthorization(){
                    var token = 'Bearer '+encodeURIComponent($("#input_authorization")[0].value);
                    if(token && token.trim() != '') {
                        var accessTokenAuth = new SwaggerClient.ApiKeyAuthorization('Authorization', token, 'header');
                        window.swaggerUi.api.clientAuthorizations.add('Authorization', accessTokenAuth);
                        log('Added Bearer token ' + token);
                    }
                }

                $("#input_authorization").change(addAccessTokenAuthorization);

                window.swaggerUi.load();

                function log() {
                    if ("console" in window) {
                        console.log.apply(console, arguments);
                    }
                }
            });
        </script>
    </head>
    <body class="swagger-section">
        <div id="header">
            <div class="swagger-ui-wrap">
                <a id="logo" href="#">Your company name</a>
                <form id="api_selector">
                    <div class="input">
                        <input placeholder="Authorization" id="input_authorization" name="Authorization" type="text"/>
                    </div>
                </form>
            </div>
        </div>

        <div id="message-bar" class="swagger-ui-wrap" data-sw-translate>&nbsp;</div>
        <div id="swagger-ui-container" class="swagger-ui-wrap"></div>
    </body>
</html>